.dir_*
.DS_Store
./*/.dir_*
./*/.DS_Store

# quarto files:
.quarto
./*/.quarto
./*/*/.quarto
_report_outputs
*.docx
*.pdf
*.html
report_test_files
./*/*/*tex


# R files to ignore:
# History files
.Rhistory
.Rapp.history
inst/doc
# Session Data files
.RData
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
*.Rproj
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user
.Renviron

# Mac OS X and others:
*.tar
*.gz
.dir_bash_history
*.dir_bash_history
*/*.dir_bash_history
*/*/*.dir_bash_history
*/*/*/*.dir_bash_history

# translation temp files
po/*~

# RStudio Connect folder
rsconnect/
__pycache__/

.DS_Store
.ipynb_checkpoints
# Vim:
*~
*.swp
# Compiled python modules:
*.pyc
# Ptyhon packaging, setuptools, eggs, etc.:
MANIFEST
PKG-INFO
*.egg-info
__pycache__
*.egg
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
# Sphinx:
docs/_build
docs/_static
docs/_templates
doc
Meta
/doc/
/Meta/

# RStudio project files
*.Rproj
*/*.Rproj
*/*/*.Rproj
*/*/*/*.Rproj
oferta_educativa_laboral/pipeline/pipeline.Rproj

# Pipeline log
oferta_educativa_laboral/pipeline/pipeline.log
.coverage
