arules
arulesViz
broom
car
circlize
corrplot
covr
cowplot
data.table
DBI
dplyr
e1071
factoextra
FactoMineR
geosphere
ggalluvial
GGally
ggplot2
ggrepel
ggthemes
gridExtra
here
Hmisc
htmltools
htmlwidgets
janitor
kableExtra
knitr
leaflet
leaflet.extras
log4r
lpSolve
lubridate
magrittr
MASS
naniar
networkD3
nnet
openxlsx
pander
patchwork
plotly
purrr
quarto
RColorBrewer
remotes
renv
reshape2
rlang
RMariaDB
rnaturalearth
rnaturalearthdata
scales
sf
skimr
stringi
testthat
tibble
tidyr
tidyverse
vcd
viridis
withr
xml2

# GitHub remotes:
github::AntonioJBT/episcout
