# Full list of R packages referenced across the project
DBI
FactoMineR
GGally
Hmisc
MASS
RColorBrewer
RMariaDB
arules
arulesViz
broom
car
circlize
corrplot
covr
cowplot
data.table
dplyr
e1071
factoextra
geosphere
ggalluvial
ggplot2
ggrepel
ggthemes
gridExtra
here
htmltools
htmlwidgets
janitor
kableExtra
knitr
leaflet
leaflet.extras
log4r
lpSolve
lubridate
magrittr
naniar
networkD3
nnet
openxlsx
pander
patchwork
plotly
purrr
quarto
renv
reshape2
rlang
rnaturalearth
rnaturalearthdata
scales
sf
skimr
stringi
testthat
tibble
tidyr
tidyverse
vcd
viridis
withr

# GitHub remotes:
github::AntonioJBT/episcout
